@import 'tailwindcss';

@import '@skeletonlabs/skeleton';
@import '@skeletonlabs/skeleton-svelte';
@import '@skeletonlabs/skeleton/themes/crimson';



.Title {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
}

.snacktext {
	font-size: 16px;
	text-align: center;
	margin-top: 20px;
}

input {
	margin: 6px;
	padding: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

select {
	margin: 6px;
	padding: 6px;
	border-radius: 6px;
	border: 1px solid #ccc;
}

button {
	margin: 6px;
	padding: 4px 12px;
	cursor: pointer;
	border-radius: 100px;
	background-color: #0051ff;
	color: white;
}

button:hover {
	background-color: #0a1d45;;
}

ul {
	list-style: none;
	padding: 0;
	
}

li {
	margin: 4px;
	font-weight: bold;
	
}
